.contenedor{
   display: flex;
   flex-direction: column;
justify-content: space-between;
    min-height: 95vh;
    max-height: 95vh;
    max-width: 95%;
    min-width: 95%;
  
   
}

.fila{
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cuadrado{
    width: 30px;
    height: 30px;
    background: blue;
}