.contenedor{
   
   
}

.fila{
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cuadrado{
    width: 30px;
    height: 30px;
    background: blue;
}