.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    min-width: 100%;
}

.fila {
    height: 10vh;
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.cuadrado {
    width: 30px;
    height: 30px;
    background: blue;
}
.pokeball{
 width: 70px;
}

.centro{
    border: 1px solid black;
    width: 95vw;
    height: 70vh;
   
}
/*Responsive*/

/*Cuando llegue a 230px las pokebolas del marco se colocaran mas small para evitar que se bajen*/

@media(min-width:200px){
    .pokeball{
        width: 60px;
    }

}