.contenedor{
   display: flex;
   flex-direction: row;

    min-height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    min-width: 100%;
    background: green;
   
}

.fila{
    background: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cuadrado{
    width: 30px;
    height: 30px;
    background: blue;
}