.contenedor-alerta{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10000;
    top: 20px;
}

.alerta {
    box-shadow: 10px red;
   z-index: 10000;
    background: rgb(215, 164, 164);
    width: 50%;
    min-width: 20%;
    z-index: 100000000000000;
}