.contenedor-alerta{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10000;
}

.alerta {
   z-index: 10000;
    background: rgb(215, 164, 164);
    width: 30%;
    min-width: 20%;
    z-index: 100000000000000;
}