.card{
margin: 10px;

}

.img-detalle{
    width: 100%;
  
}

.contenedor-img{
    width: 45%;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid white;
    border-radius: 10px;
}