.contenedor-menu{
    background: green;
    justify-content: center;
    height: 5vh;
    width: 100%;

}

.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
}