.contenedor-menu{

    min-height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
 

}


.input1{
    font-size: 12px;
    width: 45vw;
    text-align: center;
}

.iconoMenu{
    margin: 15px;
    color: wheat;
    font-size: 30px;
}