.contenedor-detalle{
    background: rgb(201, 129, 129);
   width: 100%;
    padding: 5px;
 
    overflow-y: auto;
    overflow-x: hidden; 
}

.cuadro1{
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
