.contenedor-detalle{
    background: rgb(201, 129, 129);
   width: 100%;

 
    overflow-y: auto;
    overflow-x: hidden; 
}

.cuadro1{
 
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
}

.iconoAtras{
   
    color: rgb(242, 241, 239);
    font-size: 30px;
    margin-right: 10px;
}

.iconoAtras:hover{
    color: rgb(211, 246, 117);
    cursor: pointer;
}

.NombrePokemon{
    font-size: 20px;
}
