.contenedor-barra{
    margin-top: 3px;
    margin-right: 1px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  
 
}

.nombre-status{
    font-size: 16px;

    color: aliceblue;
    text-align: center;
    align-self: center;
    justify-content: center;

}
.status-value{
    font-size: 18px;
    color: azure;
    margin: 1px;
}
.progress{
    min-height: 30px;
}