.contenedor-barra{
    margin-top: 1px;
    margin-right: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  
 
}

.nombre-status{
    font-size: 20px;

    color: aliceblue;
    text-align: end;

}